#filters{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
}


.filter{
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
   opacity: 0.7;
   
}
.filter i{
  font-size: 1.3rem;
  margin-bottom: 5px;
}
.filter p{
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.filter:hover{
  opacity: 1;
  cursor: pointer;
}
.tax-info{
  display: none;
}
.filter p{
    position: relative;
}
.filter p::after{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -15px ;
    left: 0 ;
    background-color:black ;
    opacity: 0;
}
.filter:hover p::after{
    opacity: 0.5;

}
.tax-toggle{
   border: 1px solid rgba(0, 0, 0, 0.250);
   padding: 10px 15px;
   border-radius: 10px;
   margin-left: 85px;
   margin-top: -20px; 
   transition: all 0.2 ease-in;
}
.tax-toggle:hover{
    border: 1px solid black;
    background-color: rgb(249, 249, 249);
}

/* ------------------privacy, terms and condition ------------------------- */
.top-term-card{
  background: royalblue;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0 50px 0;
  color: aliceblue;
}

.term-card{
 background: #FF99C9;
 padding: 50px;
 margin-bottom: 20px;
 border-radius: 50px;
 color: #121212;
}
