@font-face {
    font-family: Futura;
    src: url(../../Futura-Bold.ttf) format('truetype');
}

body{
    display: flex;
    flex-direction: column;
     min-height: 100vh;
}
.container{
    flex: 1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ///mode// */
.ri-moon-line{
    /* color: #fff;*/
    font-size: 1.9rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 3px 0 0 0; 
    margin: 5px 35px 0 0;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: #fff;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
    
}
.nav-link{
    color: #222222 !important;
}
.search-btn{
    background: #fe424d;
    columns: #fff;
  }
  .search-btn:hover{
    background: #fe424d;
    columns: #fff;
  }
  .nav-link{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
  }
  .logout{
    font-size: 1.5rem;
    color: rgb(232, 6, 6);
  }
  .login{
    transform: rotateY(180deg);
    color: green;
    font-size: 1.5rem;
  }
  .signup{
    color: rgb(18, 18, 152);
    font-size: 1.3rem;
  }


Footer 

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    height: 8rem;
    background-color: #ebebeb;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
        margin-bottom: -80px;
}
.f-info-socials a{
    margin-right: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}
.fa-github, .fa-x-twitter{
    color: #222222;
}
.fa-square-instagram{
    color: #d52e85;
}
.sahil{
    color: #1d857e;
    font-weight: 800;
    text-decoration-line: underline;
    letter-spacing: 3px;
}

/* Cards */
.listing-card{
    margin-bottom: 2rem;
    border-radius: 1rem !important;
}
.card{
    border-radius: 1rem;
    margin-bottom: 7rem !important;
    border: none !important;
}

.listing-link{
    text-decoration: none;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}
.para-body{
    padding: 5px 10px !important;
    z-index: 99;
    position: absolute;
    margin-top: 320px;
    background-color: #fff;
    width: 100%;
}
.card-text p{
    font-weight: 400;
}

/* Card Effect */
.card-img-overlay{ 
    height: 100%;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    opacity: 0;
    background-color: #00000070;
    letter-spacing: 5px;
    line-height: 50px;
    padding: 25% 5%;
    font-family: 'Rowdies';
    transform: translate(0, 100px);
    transition: all 0.2s ease-out;
}

.card-img-overlay:hover{
    opacity: 1;
    transform: translate(0, 0);
 }


/* New page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* Edit page */

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* Show Page */

.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

.review-body{
    border: 1px solid rgba(0, 0, 0, 0.302); 
    border-radius: 15px;
    font-weight: 500;
    /* box-shadow: */
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.328);
    transition: all 0.5 ease-in-out ;
}

.review-body:hover{
    box-shadow: 5px 5px 0 0 #99bc85, 0 0 5px 1px  rgba(0, 0, 0, 0.323);
    scale: 1.03;
}

/* /////////logo/////////// */
.logo{
   text-align: center;
}
/* /////intro//////////////// */


body{
    position: relative;
    overflow-x: hidden;
}

#heading span{
    display: inline-block;
}

#heading{
    font-family: 'Futura', 'Rowdies';
    overflow: hidden;
    display: inline-block;
    margin-left: 28%;
    margin-top: 11%;
    letter-spacing: 10px;
}

#main-heading{
    font-size: 8rem;
    position: absolute;
    left: -2%;
    height:100vh;
    width: 100vw;
    z-index: 9999;
    color: #fe424d;
    background-color: #222222;
    background-color: red;
    opacity: 1;
}

.googleBtn{
    border: 1px solid royalblue;
    all:unset;
    padding: 10px 20px;
    background-color: rgb(23, 19, 210);
    border-radius: 30px;
    color: #fff;
    margin-left: 40%;
}
