<link rel="stylesheet" href="/css/welcomePage.css" />
<link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
<body>
  <div class="main">
    <div id="text">
      <h1 id="welcome">WELCOME</h1>
      <h6 class="to">to</h6>
      <h1 id="wanderlust">WANDERLUST</h1>
    </div>
    <form action="/listings" class="home-link">
      <button type="submit" class="return-btn">Explore</button>
    </form>
  </div>
  <div class="icons">
    <a href="https://github.com/Sahilxrajput">
      <i class="ri-github-fill"></i
    ></a>
    <a href="https://www.linkedin.com/in/sahilxrajput/">
      <i class="ri-linkedin-box-fill"></i
    ></a>
    <a href="https://www.instagram.com/sahil_rajput.env/">
      <i class="ri-instagram-line"></i
    ></a>
    <a href="https://x.com/SaahilxRajput"> <i class="ri-twitter-x-fill"></i></a>
  </div>
</body>
